<div id="fh5co-container">
    <%- include('../../partials/introduction'); %>
    <%- include('../../partials/navbar'); %>
    <%- include('../../partials/about'); %>
    <%- include('../../partials/saying'); %>
    <%- include('../../partials/featuredDishes'); %>
    <%- include('../../partials/foodTypes'); %>
    <%- include('../../partials/menu'); %>
    <%- include('../../partials/upcomingEvents'); %>
    <%- include('../../partials/tableReservation'); %>
</div>
<%- include('../../partials/footer'); %>
