<div id="fh5co-container">
    <%- include('../../partials/introduction'); %>
    <%- include('../../partials/navbar'); %>
    <%- include('../../partials/about', {about}); %>
    <%- include('../../partials/saying'); %>
    <%- include('../../partials/featuredDishes'); %>
    <%- include('../../partials/foodTypes'); %>
    <%- include('../../partials/menu'); %>
    <%- include('../../partials/upcomingEvents', {events}); %>
    <%- include('../../partials/tableReservation', {address, phone, email}); %>
</div>
<%- include('../../partials/footer', {developerLink, facebookLink, twitterLink, instagramLink}); %>
