<div id="fh5co-footer">
    <div class="container">
        <div class="row row-padded">
            <div class="col-md-12 text-center">
                <p class="to-animate">&copy; <%= new Date().getFullYear() %> Resto Resturant. <br> Made with ❤️ by <a
                            href="<%= developerLink %>" target="_blank">Callback Hell Avoiders Team</a></p>
                <p class="text-center to-animate"><a href="#" class="js-gotop">Go To Top</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="fh5co-social">
                    <li class="to-animate-2"><a href="<%= facebookLink %>"><i class="icon-facebook"></i></a></li>
                    <li class="to-animate-2"><a href="<%= twitterLink %>"><i class="icon-twitter"></i></a></li>
                    <li class="to-animate-2"><a href="<%= instagramLink %>"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>